.char{

    border: 1px black solid;
}

.moveable{ 

    background-color: blue;
}
#arrow1
{
    background-image: url("res/arrows.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 200px;
    height: 100px;
}