char{

    border: 1px black solid;
}

moveable{ 

    background-color: blue;
}
#arrrows
{
    background-image: url("../10515FILE/res/arrows.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 200px;
    height: 100px;
}