.char
{

    border: 1px black solid;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    width: 100px;
    height: 100px;
}

.moveable
{ 

    background-color: blue;
}
#arrow1
{
    background-image: url("res/arrows.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 200px;
    height: 100px;
}